doctype html
html(lang="ko")
    head 
        title #{pageTitle} | #{siteName}
        meta(charset="UTF-8")
        //- mvp css , 임시 css
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="/static/css/styles.css")
    body 
        main
            header 
                h1=pageTitle     
                nav 
                    ul 
                        li 
                            a(href="/") Home
                        if loggedIn
                            li 
                                a(href="/users/edit") Edit Profile
                            li
                                a(href=`/users/${loggedInUser._id}`) My Profile
                            li 
                                a(href="/users/logout") Logout
                        else 
                            li 
                                a(href="/join") Join
                            li 
                                a(href="/login") Login
                        li 
                            a(href="/videos/upload") Upload
                        li 
                            a(href="/search") Search
            block content
        
        include partials/footer.pug

block scripts