doctype html
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        meta(charset="UTF-8")
        //- mvp css , 임시 css
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        main
            block content
        
        include partials/footer.pug