doctype html
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        meta(charset="UTF-8")
        //- mvp css , 임시 css
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        main
            header 
                h1=pageTitle     
                nav 
                    ul 
                        li 
                            a(href="/") Home
                        li 
                            a(href="/videos/upload") Upload
                        li 
                            a(href="/search") Search
            block content
        
        include partials/footer.pug