extends base.pug


block content 
    h3 Change title of the Video
    form(action="", method="POST")
        input(name="title", placeholder="video title", required, value=video.title)
        input(value="Save", type="submit") 