extends base
include mixins/video


block content 
    div.video__grid
        each video in videos 
            +mixinVideo(video)
            +mixinVideo(video)
            +mixinVideo(video)
            +mixinVideo(video)
            +mixinVideo(video)
            +mixinVideo(video)
            +mixinVideo(video)
            +mixinVideo(video)
            +mixinVideo(video)
            +mixinVideo(video)
            +mixinVideo(video)
        else 
            span.empty_message Sorry, 못찾았어.
