extends base
include mixins/video

block navItem 
    li
        a(href="/videos/upload") Upload Video

block content 
    each video in videos 
        +mixinVideo(video)
    else 
        li Sorry, 못찾았어.
